// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product_show{
  padding-top: 0%;
  color: rgba(255,255,255,1);
  padding-bottom: 2%;
}

.product_show, .reviews{
  background-color: rgba(128, 128, 128, 0.5);
}

.product_show p{font-size: 1.5em;}

.products-row{
  margin-top: 1%;
}

.product-column{
  margin-top:2%;
  padding: 1%;
}

.reviews{
  color: white;
  font-size:1.5em;
}

.reviews p{font-size:1.2em;}

.reviews #user_comment{font-size:1em;}


.product-reviews .row hr{width: 95%;
}

.reviews{margin-top: 2%;}

.reviews h4{
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.5);
}

.thumbnail{
  background-color: rgba(0,0,0,0.5);
  color: rgba(255,255,255,0.8);
  -webkit-transition: -webkit-transform 0.4s; /* Safari */
  transition: -webkit-transform 0.4s;
}

.thumbnail p{font-size: 1.5em;}

.thumbnail a {
  text-decoration: none;
}

.thumbnail a h4{
  color: rgba(255,255,255,0.8);
  font-size: 1.5em;
  text-decoration: none;
}

.thumbnail:hover{
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}


//@media only screen and (min-width:988px){
//  .product-column{
//    min-height: 575px;
//  }
//}

.product_index_pic{
  max-height: 180px;
}

.buttons{
  position: absolute;
  bottom: 5%;
}

.apple_pagination {
  background-color: rgba(225, 229, 237, 0.2);
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default;
}
.apple_pagination a, .apple_pagination span {
  padding: 0.2em 0.3em;
}
.apple_pagination .disabled {
  color: #aaaaaa;
}
.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}
.apple_pagination a {
  text-decoration: none;
  color: black;
}
.apple_pagination a:hover, .apple_pagination a:focus {
  text-decoration: underline;
}
