// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product{ background-color: rgba(225, 229, 237, 0.2); }

.products-row{
  margin-top: 1%;
}

.product-column{
  margin-top:2%;
  padding: 1%;
}

//@media only screen and (min-width:988px){
//  .product-column{
//    min-height: 575px;
//  }
//}

.buttons{
  position: absolute;
  bottom: 5%;
}
