// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel-indicators li{
  border: 1px solid rgb(0,0,0);
}

.carousel-indicators .active{
  background-color: rgba(0,0,0,0.1);
}

.carousel-caption p{
  font-size: 1.5em;
  color: white;
}

#myCarousel{
  background-color: rgba(0,0,0,0.3);
}

#name, #message, #email{
  background-color:rgba(255,255,255,0.9);
}

.about-page{
  background-color: rgba(0,0,0,0.5);
  padding: 2%;
}

.about-page p{
  font-size:1.5em;
}

#home{
  background-color: rgba(0,0,0,0.5);
}

#home p{
  font-size: 1.5em;
}

#home h1, #home p{
  text-align: center;

}