// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Bootstrap Carousel
.carousel-indicators li{border: 1px solid rgb(0,0,0);}

.carousel-indicators .active{background-color: rgba(0,0,0,0.3);}

.carousel-caption p{
  font-size: 1.5em;
  color: white;
}

#myCarousel{background-color: rgba(0,0,0,0.8);}

#name, #message, #email{background-color:rgba(255,255,255,0.9);}

.carousel-image{
  margin: auto;
}

//static_pages#about
.about-page{
  background-color: rgba(0,0,0,0.5);
  padding: 2%;
}

.about-page p{
  font-size:1.5em;
}

//static_pages#home
#home{background-color: rgba(0,0,0,0.5);}

#home p{font-size: 1.5em;}

#home h1, #home p{text-align: center;}