body{
	margin-top: 70px;
    background-image: url(Background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    color: rgba(255,255,255,1);
}

body>.container{
	padding-top: 30px;
}

a:hover {
    color: #fff;
    background-color: transparent;
}

.container{
    background-color: rgba(0,0,0,0.0);
    padding-bottom: 2%;
}

@media(max-width: 320px){
    h1{
        font-size: 1em;
    }
}

h1{
    color: rgba(255,255,255,1);
}

ul{
    margin: 0.4% 0% 0% 0%;
}

.navbar{
    border: 0;
}

.navbar-default{
	/*background-color: rgba(0,0,0,0.4);*/
    background-color: transparent;
}

.navbar-nav li:hover{
    background-color: rgba(0,0,0,0.5);
}

.navbar-nav li a{
	font-size: 1.5em;
}

.navbar-default .navbar-nav>li>a{
    color: rgba(255,255,255,1);
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: rgb(255,255,255);
}

.product {
	margin-top: 2%;
}

/*footer*/
.footer-links{
    list-style-type: none;
}

.list-group-item {
    border: none;
    background:none;
}

.list-group-item a{
  color:white;
  font-size: 1.2em;
}

.list-group-item a:hover{
    text-decoration:none;
    font-weight: 900;
}
