<div class="product-reviews">
  <% @comments.each do |comment| %>
    <%= render comment %>
  <% end %>
  <% if @comments.count() > 5  %>
    <div class="apple_pagination">
      <%= will_paginate @comments %>
    </div>
  <% end %>
</div>