<p id="notice"><%= notice %></p>

<h1>Software-Products</h1>

  <div class="row products-row">


      <% cache cache_key_for_products do %>

        <%= render @products %>

      <% end %>


  </div>

<br>
<% if signed_in? && current_user.admin? %>
  <%= link_to 'New Product', new_product_path, :class => 'btn btn-default' %>
<% end %>

