<!DOCTYPE html>
<html>
  <head>
    
    <title>myproject3</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


  </head>

  <body>
	  
    <nav class="navigation navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div id="myNav" class="navbar-nav">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/static_pages/about">About</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/static_pages/contact">Contact</a></li>
          </ul>
        </div>
      </div><!--end fluid container-->
	  </nav>
	  
    <div class="container">
      <%= yield %>
    </div><!--end container-->

    
      <footer class="footer">
        <div class="container">
        	<hr>
          <p>&copy; Jay</p>
        </div>
      </footer>
 

  </body>
</html>
